.input-bar {
  width: 960px;
  height: 50px;
  border-radius: 2px;
  border: none;
  font-size: 2rem;
  text-align: center;
  outline: none;
  opacity: 0.7;
}

.accuracy {
  margin-top: 10vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
}
