.input-bar {
  width: 50vw;
  height: 8vh;
  padding: 0 10vw;
  border-radius: 2px;
  border: none;
  font-size: 2rem;
  text-align: center;
  outline: none;
  opacity: 0.7;
}

@media (max-width: 550px) {
  .input-bar {
    width: 90vw;
    height: 8vh;
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .input-bar {
    width: 90vw;
    height: 8vh;
    font-size: 1rem;
  }
}

.accuracy {
  margin-top: 10vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
}
