@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP:wght@900&display=swap");

.main-section {
  margin-top: 10vh;
  width: 100vw;
  height: 60vh;
  /* background-color: white; */
}

.expected-phrase {
  width: 960px;
  height: 60px;
  font-family: "Lato";
  margin: 0 auto 3rem;
  text-align: center;
  background-color: #088395;
  border-radius: 5px;
  font-size: 2.5rem;
}
